/* ========================== */
/* BASIC STYLES */
/* =========================== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1180px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
  .container {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 13px;
    padding-right: 13px;
  }
}