/* ========= Helpers ========== */

.hide {
  display: none;
}

/* ========================== */
/* BASIC STYLES */
/* =========================== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1180px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

/* ========================== */
/* HEADER */
/* =========================== */

.header__logo {
  width: 125px;
  height: 20px;
}

.header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 1px 1px 5px #2b2b2b;
  padding-top: 31px;
  padding-bottom: 31px;
  margin-bottom: 40px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.nav-menu__link {
  position: relative;
  font-size: 18px;
  line-height: 24.59px;
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.nav-menu__link.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background-color: #000000;
}

.nav-menu__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  background-color: #000000;
  width: 0;
  transition: width 0.3s ease-in;
}

.nav-menu__link:hover::before {
  width: 100%;
}

.nav-menu__link:hover {
  opacity: 0.5;
}

.nav-menu__link + .nav-menu__link {
  margin-left: 53px;
}

/* ========================== */
/* INTRO */
/* =========================== */

.intro {
  margin-top: 127px;
  margin-bottom: 155px;
}

.intro__title {
  font-size: 60px;
  max-width: 990px;
  line-height: 60px;
  margin-bottom: 25px;
}

.intro__image-box {
  background-image: url('../resources/images/intro/intro-main.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: 500px;
}

.intro__image-box::before {
  position: absolute;
  z-index: 1;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.intro__description {
  position: absolute;
  z-index: 100;
  left: 38px;
  bottom: 38px;
  max-width: 450px;
  font-size: 20px;
  line-height: 27.32px;
  color: #fff;
}

/* ========================== */
/* ABOUT */
/* =========================== */

.about {
  margin-bottom: 150px;
}

.about__title {
  font-size: 18px;
  line-height: 24.59px;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: #121212;
}

.about__description {
  letter-spacing: -0.03em;
  color: #121212;
  font-size: 45px;
  line-height: 61.47px;
  text-align: left;
  max-width: 1050px;
  margin-bottom: 26px;
}

.about__btn {
  border: 1px solid transparent;
  background: #ad1818;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 27.32px;
  color: #fff;
  letter-spacing: -0.03em;
  transition: background-color 0.3s ease-in, color 0.3s ease-in,
    border 0.3s ease-in;
}

.about__btn:hover {
  border: 1px solid #ad1818;
  background-color: #fff;
  color: #ad1818;
}

/* ========================== */
/* PROJECTS */
/* =========================== */

.projects {
  margin-bottom: 150px;
}

.projects__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24.59px;
  color: #121212;
  margin-bottom: 32px;
}

.projects-card__title {
  font-size: 30px;
  line-height: 40.98px;
  color: #121212;
  margin-bottom: 14px;
}

.projects__card {
  margin-bottom: 90px;
}

.projects-card__link-more {
  color: #ad1818;
  font-size: 20px;
  line-height: 27.32px;
  text-decoration: none;

  letter-spacing: -0.03em;
  transition: color 0.3s ease-in;
}

.projects-card__link-more:hover {
  color: #000;
}

.projects-card__image {
  width: 100%;
  margin-bottom: 16px;
}

.projects-card__picture {
  min-height: 450px;
  object-position: 20%;
}

.projects__btn {
  display: block;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 56px;
  border: 1px solid #ad1818;
  color: #ad1818;
  font-size: 30px;
  line-height: 40.98px;
  border-radius: 5px;
  letter-spacing: -0.03em;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.projects__btn:hover {
  color: #fff;
  background-color: #ad1818;
}

/* SERVICES */

.services {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #121212;
}

.services__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24.59px;
  margin-bottom: 32px;
}

.serviсes-card__image {
  width: 100%;
  height: 270px;
  margin-bottom: 20px;
}

.serviсes__card:not(:last-child) {
  margin-bottom: 55px;
}

.serviсes-card__title {
  font-size: 30px;
  line-height: 40.98px;
  color: #fff;
}

/* PROJECT-EXAMPLE */

.project-example {
  position: relative;
  background-image: url('../resources/images/project-example/img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 717px;
}

.project-example__text-box {
  display: flex;
  height: 717px;
}

.project-example::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.52%,
    rgba(0, 0, 0, 0.4) 82.81%
  );
}

.project-example__title {
  position: relative;
  z-index: 10000;
  margin-top: auto;
  margin-bottom: 60px;
  max-width: 443px;
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: 40.98px;
  color: #fff;
}

/* CONTACTS */

.contacts {
  padding-top: 185px;
  padding-bottom: 160px;
  background-color: #fff;
}

.contacts__title {
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24.59px;
  color: #121212;
  margin-bottom: 32px;
  letter-spacing: -0.03em;
}

.contacts__title::before {
  content: '';
  position: absolute;
  left: -5px;
  top: -37px;
  width: 24px;
  height: 24px;
  background-image: url('../resources/images/icons/phone.svg');
}

.contacts__phone {
  letter-spacing: -0.07em;
  margin-bottom: 30px;
}

.contacts__phone-link {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  letter-spacing: -0.03em;
}

.contacts__phone-link:hover {
  opacity: 0.7;
}

.contacts__email-link {
  position: relative;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  opacity: 0.5;
  text-decoration: none;
  transition: color 0.3s ease-in, opacity 0.3s ease-in;
}

.contacts__email-link:hover {
  opacity: 0.9;
}

.contacts__email-link::before {
  position: absolute;
  left: 0;
  bottom: 0px;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #121212;
  opacity: 0.5;
}

/* FOOTER */

.footer {
  background-color: #121212;
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-navigation__menu-item {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24.59px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  text-decoration: none;
  letter-spacing: -0.03em;
}

.footer-navigation__menu-item + .footer-navigation__menu-item {
  margin-left: 53px;
}

.footer-navigation__menu-item:hover {
  opacity: 0.5;
}

.footer__footer-navigation {
  margin-bottom: 90px;
  margin-left: -12px;
}

.footer-navigation__menu-item.active {
  opacity: 0.5;
}

.footer__copy-text {
  letter-spacing: -0.03em;
  font-size: 20px;
  color: #fff;
  opacity: 0.5;
}

/* ======== Media queries ======== */

@media (max-width: 1199px) {
  .container {
    padding-left: 17px;
    padding-right: 17px;
  }

  .intro {
    margin-bottom: 125px;
  }

  .intro__title {
    font-size: 50px;
    max-width: 802px;
  }

  .intro__image-box {
    height: 400px;
  }

  .intro__description {
    left: 38px;
    bottom: 30px;
  }

  .about {
    margin-bottom: 120px;
  }

  .about__description {
    max-width: 693px;
    font-size: 35px;
    line-height: 47px;
  }

  .projects__card {
    margin-bottom: 80px;
  }

  .projects__card:last-child {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 13px;
    padding-right: 13px;
  }

  .intro__title {
    font-size: 30px;
    line-height: 31px;
    max-width: 100%;
  }

  .intro__image-box {
    height: 304px;
  }

  .intro__description {
    max-width: 350px;
    left: 15px;
    bottom: 15px;
  }

  .about__title {
    font-size: 14px;
  }

  .about__description {
    font-size: 22px;
    line-height: 30px;
  }

  .about__btn {
    font-size: 16px;
    padding: 14px 27px;
  }

  .projects__title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .projects-card__title {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .projects-card__link-more {
    font-size: 16px;
  }

  .projects-card__image {
    margin-bottom: 20px;
  }

  .projects-card__picture {
  min-height: 250px;
}

.projects__card {
    margin-bottom: 50px;
  }

  .projects__card:last-child {
    margin-bottom: 60px;
  }

  .projects__btn {
    font-size: 22px;
    line-height: 30px;
    padding: 37px 37px;
  }

}
